extends layout

block content
  h1= title
  h2 Welcome to Inventory Application

  ul
    li You can create, delete, or modify categories, items, and inventories.
    li Each category contains different items.
    li You can purchase items in quantity and assign them to an inventory.
    li You can then view inventory details in the inventory list.

  p History
